<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924443127172-9sai7sqbnos91pmua2l4oqaf6fong51d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924443127172-9sai7sqbnos91pmua2l4oqaf6fong51d</string>
	<key>API_KEY</key>
	<string>AIzaSyAn84v1iH2Qj8soDJrNnM-GDfYgGvFugMo</string>
	<key>GCM_SENDER_ID</key>
	<string>924443127172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hello-flutter</string>
	<key>PROJECT_ID</key>
	<string>hello-firebase-c23de</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-firebase-c23de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924443127172:ios:58bccf585fc2d46214c1d1</string>
</dict>
</plist>